
:root{
    /*Color Palette*/
    --bg-color: #0A0A0A;
    --form-grey: #3D3D40;
    --dark-grey: #28292B;
    --medium-grey: #636771;
    --bg-grey: #BABABA;
    --dark-blue: #142143;
    --medium-blue: #1C427B;
    --light-blue: #C1CBE6;
    --primary-green: #B8EF46;
    --light-green: #E6FFB2;
    --light-red: #FFB2B2;
    --light-orange: #FFBC6A;

    /*text Colors*/ 
    --text-grey: #AAAAAA;

    /*Landing Page Colors*/
    --phase1-color: #FEF355;
    --phase2-color: #B5E554;
    --phase3-color: #52E996;
    --phase4-color: #1FA1BB;
    --phase5-color: #1152CA;
}


